footer {
    background-color: #001f3f;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    text-align: center;
}

footer .col1, footer .col2, footer .col3 {
    flex: 1;
    margin: 1rem;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.5rem;
    width: fit-content;
}

footer .col1 img {
    width: 20%;
    max-width: 100%;
    margin-top: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
}
footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

footer .horizontal {
    flex-basis: 100%; 
    margin-top: 2rem;
    border-top: 0.1rem solid #ffffff;
    padding-top: 1rem;
    text-align: center;
}