
/* Conteneur principal */
.full-form-container {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
}