/* Styles généraux pour la navigation de la semaine */
.week-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


.arrow-btn {
    background-color: #183453;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.arrow-btn:hover {
    background-color: #1f5085; 
}


#current-week {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0 20px;
}
