body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    font-size: 1.1rem;
}

.global{
    margin-top: 3%;
    margin-bottom: 8%
}

section {
    display: flex;
}

.planning_titre {
    text-align: center;
    margin: 1.25rem 0;
    font-size: 1.8rem;
    color: #001f3f;
    text-transform: uppercase;
}

.planning_soustitre {
    text-align: center;
    font-size: 1.2rem;
    color: #001f3f;
    font-style: italic;
}

.planning {
    display: grid;
    grid-template-columns: 6rem repeat(7, 1fr); 
    grid-template-rows: repeat(13, 5.5rem);
    gap: 0.125rem;
    background-color: #ddd;
    border: 0.125rem solid #bbb;
    margin: 1.25rem auto;
    width: 1500px;
    border-radius: 0.5rem;
}

.day-header {
    font-weight: bold;
    text-align: center;
    background-color: #001f3f;
    color: #fff;
    padding: 0.5rem;
    border: 0.125rem solid #001f3f;
    font-size: 1.1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.hour {
    grid-column: 1;
    background-color: #e9ecef;
    font-weight: bold;
    border: 0.125rem solid #ccc;
    text-align: center;
    line-height: 5.5rem;
    font-size: 1.1rem;
}

.course-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: #d4edda;
    border: 0.125rem solid #c3e6cb;
    color: #155724;
    overflow: hidden;
    white-space: normal; 
    word-wrap: break-word; 
    text-overflow: ellipsis;
    font-size: 1rem;
    height: 100%;
    min-height: 5.5rem;
}

.course-case:hover {
    background-color: #c3e6cb;
    border: 0.15rem solid #63b677;
    cursor: pointer;
}

.client-info {
    width: 18%;
    background-color: #001f3f;
    padding: 1rem;
    border-right: 0.125rem solid #ddd;
    box-shadow: 0.125rem 0 0.375rem rgba(0, 0, 0, 0.1);
    border-radius: 0 0.5rem 0.5rem 0;
}


.planning-container {
    margin-left: 2%;
}


.client-info .profile-pic img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.125rem solid #ffffff;
    display: block;
    margin: 0 auto 1rem;
}

.client-info .info h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.client-info .info p {
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 45%;
    min-height: 400px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.popup p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.cancel-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cancel-btn:hover {
    background-color: darkred;
}

.book-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.book-btn:hover {
    background-color: darkgreen;
}

select {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    margin: 18px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn_payer {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 4rem;
    margin-top: 2rem;
}

.btn_payer:hover {
    background-color: #ffffff;
    color: #001f3f;
}

.btn-modif{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 4rem;
    margin-top: 3rem;
}

.btn-modif:hover {
    background-color: #ffffff;
    color: #001f3f;
}